<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.deepanse.soywod.deepanse">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/deepanse"
        android:label="@string/title_app"
        android:theme="@style/deepanse_theme">

        <activity
            android:name=".activity.Home"
            android:label="@string/title_app" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Edit"
            android:label="@string/title_edit_deepanse" >
        </activity>
        <activity
            android:name=".activity.EditGroup"
            android:label="@string/title_edit_group" >
        </activity>
        <activity
            android:name=".activity.Search"
            android:label="@string/title_find_deepanse" >
        </activity>
        <activity
            android:name=".activity.Create"
            android:label="@string/title_create_deepanse" >
        </activity>
        <activity android:name=".activity.List" >
        </activity>
        <activity android:name=".activity.ListDetail" >
        </activity>
        <activity
            android:name=".activity.ListGroup"
            android:label="@string/title_list_group" >
        </activity>
        <activity
            android:name=".activity.CreateTuto"
            android:label="@string/title_create_deepanse_tuto" >
        </activity>
        <activity
            android:name=".activity.ImportGroup"
            android:label="@string/title_import_deepanse_group" >
        </activity>
        <activity
            android:name=".activity.Config"
            android:label="@string/title_config" >
        </activity>
    </application>

</manifest>
