<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.deepanse.soywod.deepanse" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/title_app"
        android:theme="@style/DeepAnseTheme" >
        <activity
            android:name="fr.deepanse.soywod.deepanse.activity.Home"
            android:label="@string/title_app" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="fr.deepanse.soywod.deepanse.activity.EditDeepAnse"
            android:label="@string/title_edit_deepanse" >
        </activity>
        <activity
            android:name="fr.deepanse.soywod.deepanse.activity.EditDeepAnseGroup">
        </activity>
        <activity
            android:name="fr.deepanse.soywod.deepanse.activity.FindDeepAnse"
            android:label="@string/title_find_deepanse" >
        </activity>
        <activity
            android:name="fr.deepanse.soywod.deepanse.activity.CreateDeepAnse"
            android:label="@string/title_create_deepanse" >
        </activity>
        <activity
            android:name="fr.deepanse.soywod.deepanse.activity.ListDeepAnse" >
        </activity>
        <activity
            android:name="fr.deepanse.soywod.deepanse.activity.ListDeepAnseDetail" >
        </activity>

        <activity
            android:name="fr.deepanse.soywod.deepanse.activity.ListDeepAnseGroup" >
        </activity>
    </application>

</manifest>
